/* Chapter no 43-48 */
/* Answer no 2 */
/* body {
    display: flex;
}
.para1{
    padding-left: 60px;
}
.para2{
    padding-left: 180px;
}
.para3{
    padding-left: 120px;
}
.para4{
    padding-left: 200px;
} */


/* Chapter no 53-58 */
/* Answer no 1 */

/* .mystyle {
    z-index: 1;

    margin: 0 auto;
position: fixed;
    width: 600px;
    height: 400px;

    top: 200px;
    right: 20px;
    left: 40px;
  }

.myMain{
    top: 180px;
    right: 200px;
    
    position: fixed;
    
    font-weight: bolder;
    font-size: large;

  } */